{% block appointments %}
  	<hr style="margin-top:4px; margin-bottom:4px;">
	<p>
	<div class="panel-group">
	<div class="panel panel-default">
      <div class="panel-heading"><h5>Appointments</h5></div>
     <div class="panel-body">                              
	<a href="#">add continuation appointment</a>
	</p>
	{% if scheduled_entry_meta_data %} <I>(Hint: to see all appointments, click 'show appointments' in the Action column below)</I>{% endif%}
	    <table width="100%" class="table table-bordered table-striped table-hover table-condensed">
	    <thead>
	    <th>Code</th>
	    <th>Description</th>
	    <th>Type</th>
	    <th>Appt. Date</th>
	    <th>Status</th>
	    <th>Visit Report</th>
	    <th>Visit Reason</th>      
	    <th>Action</th>                                    
	    </thead>
	    <tbody>
	    {% if not appointments%}
	        <tr class="{% cycle 'row1' 'row2' %}"><td colspan="8"><i>No appointments scheduled</i></td></tr>
	    {% else %}
	        {% for appointment in appointments %}
	            <tr class="{% cycle 'row1' 'row2' %}">
	            <td>{{appointment.visit_code}}</td>
		        <td>{{appointment.schedule_name}}</td>
				<td>{{appointment.appt_type | capfirst}}</td>
				<td>{{appointment.appt_datetime|date:"Y-m-d D"| capfirst}}</td>
				<td><a href="{% url 'admin:amp_appointment_change' appointment.pk %}?subject_identifier={{ appointment.subject_identifier }}&next={% url 'subject_dashboard_url' appointment.subject_identifier %}">{{ appointment.appt_status | capfirst }}</a></td>
		        <td>
		        	{% if appointment.subject_visit %}
		        		<a href="{% url 'admin:amp_subjectvisit_change' appointment.subject_visit.pk %}?subject_identifier={{ appointment.subject_identifier }}&next={% url 'subject_dashboard_url' appointment.subject_identifier %}">{{ appointment.subject_visit.report_datetime |date:"Y-m-d D"| capfirst }}</a>
		        	{% else %}
		        		<a href="{% url 'admin:amp_subjectvisit_add' %}?subject_identifier={{ appointment.subject_identifier }}&next={% url 'subject_dashboard_url' appointment.subject_identifier %}">Add Visit</a>
		        	{% endif %}
		        </td>
		        <td><b>{{appointment.appt_reason}}</b></td>
			    <td>
			    	{% if show %}
			    		<a href="{% url 'subject_dashboard_url' subject_identifier %}">show appointments</a>
			    	{% else %}
			    		{% if appointment.subject_visit %} 
			    			<a href="{% url 'subject_dashboard_url' appointment.str_pk appointment.subject_identifier %}?show=forms">show forms</a>
			    		{% endif %}
			    	{% endif %}
			    </td>
	            </tr>
	        {% endfor %}
	    {% endif %}
	    </tbody>
	    </table>
	    </div>
	    </div>
	    </div>	    
{% endblock appointments %}
