{% load crispy_forms_tags %}

<div class="panel-group">
	<div class="panel panel-warning">
    <div class="panel-heading">{{ selected_appointment.visit_code }}: Case Report Forms</div>
	    <div class="panel-body">
	    	<div class="table-responsive">
			<table class="table table-no-border table-condensed">
				<tbody>
					{% for crf in crfs %}
						{% if crf.entry_status != 'NOT_REQUIRED' %}
						<tr>
						    <td>{{ forloop.counter }}</td>
						    <td>
						    	{% if not crf.url %}
						    		{{ crf.title }}
						    	{% else %}
					        		<a href="{{ crf.url }}?subject_visit={{ subject_visit.pk }}&next={{ dashboard_url }}" {% if not crf.url %}disabled{% endif %} role="button" class="btn btn-sm btn-block btn-{% if crf.instance.edited %}success{% else %}default{% endif %}">{{ crf.title|title }} {% if crf.instance.no_report %}<span class="glyphicon glyphicon-ban-circle"></span>{% endif %}</a>
						    	{% endif %}
						    </td>              
						    <td>
						    	{% if crf.url %}
						      		<a href="{% url 'subject_dashboard_url' subject_identifier=subject_identifier appointment_pk=selected_appointment.pk selected_crf=crf.model toggle_status='flagged' %}" role="button" class="btn btn-sm {% if crf.instance.flagged %}btn-warning{% else %}btn-default{% endif %}" {% if not crf.url  %}disabled{% endif %}><span class="glyphicon glyphicon-flag small text-info"></span></a>
							        {% if not crf.instance.edited %}
							      		<a href="{% url 'subject_dashboard_url' subject_identifier=subject_identifier appointment_pk=selected_appointment.pk selected_crf=crf.model toggle_status='no_report' %}" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}><span class="text text-info">NR</span></a>
							      	{% endif %}	
						      		<a href="{% url 'subject_dashboard_url' subject_identifier=subject_identifier appointment_pk=selected_appointment.pk selected_crf=crf.model toggle_status='reviewed' %}" role="button" class="btn btn-sm {% if crf.instance.reviewed %}btn-success{% else %}btn-default{% endif %}" {% if not crf.instance.edited %}disabled{% endif %}><span class="glyphicon glyphicon-ok small {% if crf.instance.reviewed %}text-default{% else %}text-info{% endif %}"></span><span class="glyphicon glyphicon-ok small {% if crf.instance.reviewed %}text-default{% else %}text-info{% endif %}"></span></a>
						      	{% endif %}
						        {% if crf.instance.edited %}
						          <a href="#" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}>View</a>
						          <a href="#" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}>Audit</a>
						        {% endif %}
					            <a href="{{ crf.changelist_url }}" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}>Admin</a>
						    </td>
				  		</tr>
				    	{% if crf.instance.edited %}
					  		<tr>
					  			<td></td><td colspan=5>
									{% if crf.instance.pending_fields %}
					  					<span class="text small bg-warning">Pending: {{ crf.instance.pending_fields }}</span><br>
									{% endif %}
							    	{% if crf.instance.edited %}
								    	<span class="small">
								    		{{ crf.instance.user_created }} on {{ crf.instance.created|date:"Y-m-d  H:i" }}
											{% if crf.instance.user_modified %} | {{ crf.instance.user_modified }} on {{ crf.instance.modified|date:"Y-m-d H:i" }}{% endif %}
										</span>
									{% endif %}
					  			</td>
					  		</tr>
				  		{% endif %}
				  		{% endif %}
				  	{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>