{% load crispy_forms_tags %}

<div class="panel-group">
	<div class="panel panel-warning">
    <div class="panel-heading">Case Report Forms</div>
	    <div class="panel-body">
	    	<div class="table-responsive">
			<table class="table table-no-border table-condensed">
				<tbody>
					{% for crf in crfs %}
						{% if crf.entry_status != 'NOT_REQUIRED' %}
						<tr>
							<td>
					        	{% if not crf.instance.edited %}
					        		<span title="{{crf.get_entry_status_display }}" class="glyphicon glyphicon-asterisk small text-danger"></span>
					        	{% endif %}
					        	{% if crf.instance.edited and crf.instance.reviewed %}
					        		<span title="{{crf.get_entry_status_display }}" class="glyphicon glyphicon-ok small text-success"></span>
					        		<span title="{{crf.get_entry_status_display }}" class="glyphicon glyphicon-ok small text-success"></span>
					        	{% elif crf.instance.edited and not crf.instance.reviewed %}
					        		<span title="{{crf.get_entry_status_display }}" class="glyphicon glyphicon-ok small text-success"></span>
					        	{% endif %}
					        	{% if crf.instance.flagged %}
					        		<span title="{{crf.get_entry_status_display }}" class="glyphicon glyphicon-flag small text-warning"></span>
					        	{% endif %}
							</td>						
						    <td>{{ forloop.counter }}</td>
						    <td>
						    	{% if not crf.url %}
						    		{{ crf.title }}
						    	{% else %}
					        		<a href="{{ crf.url }}?subject_visit={{ subject_visit.pk }}&next={{ dashboard_url }}" {% if not crf.url %}disabled{% endif %} role="button" class="btn btn-sm btn-block btn-{% if crf.instance.edited %}success{% else %}default{% endif %}">{{ crf.title|title }}</a>
						    	{% endif %}
						    </td>              
						    <td>
						    	{% if crf.url %}
						      		<a href="{% url 'subject_dashboard_url' subject_identifier=subject_identifier appointment_pk=selected_appointment.pk selected_crf=crf.model toggle_status='flagged' %}" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}><span class="glyphicon glyphicon-flag small text-info"></span></a>
						      		<a href="{% url 'subject_dashboard_url' subject_identifier=subject_identifier appointment_pk=selected_appointment.pk selected_crf=crf.model toggle_status='reviewed' %}" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}><span class="glyphicon glyphicon-ok small text-info"></span><span class="glyphicon glyphicon-ok small text-info"></span></a>
						      	{% endif %}
						        {% if crf.instance.edited %}
						          <a href="#" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}>View</a>
						          <a href="#" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}>Audit</a>
						          <a href="{{ crf.changelist_url }}" role="button" class="btn btn-sm btn-default" {% if not crf.url %}disabled{% endif %}>Admin</a>
						        {% endif %}
						    </td>
				  		</tr>
				    	{% if crf.instance.edited %}
					  		<tr><td colspan=2></td>
					  			<td colspan=4>
									{% if crf.instance.pending_fields %}
					  					<span class="text small bg-warning">Pending: {{ crf.instance.pending_fields }}</span><br>
									{% endif %}
							    	{% if crf.instance.edited %}
								    	<span class="small">
								    		{{ crf.instance.user_created }} on {{ crf.instance.created|date:"Y-m-d  H:i" }}
											{% if crf.instance.user_modified %} | {{ crf.instance.user_modified }} on {{ crf.instance.modified|date:"Y-m-d H:i" }}{% endif %}
										</span>
									{% endif %}
					  			</td>
					  		</tr>
				  		{% endif %}
				  		{% endif %}
				  	{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>