    <div class="panel-group">
    	<div class="panel panel-success">
          <div class="panel-heading clearfix">{{ subject_identifier }}<span class="pull-right"><a href="{% url 'home_url' subject_identifier=subject_identifier %}" role="button" class="btn btn-sm btn-primary">Close</a></span></div>
      <div class="panel-body"> 
        {% for key, value in demographics.items %}
          {% if value %}
    		    <strong><small>{{ key|title }}: </strong>{{ value }}</small>
          {% endif %}
    		{% endfor %}
      </div>
    </div>
  </div>
