<table name="right" class="right-table" width="100%" border="0">
                <tbody><tr><td>
                
  [en]
                    
                    
                       
                           <a href="/admin/edc_appointment/subjectconfiguration/add/?next=subject_dashboard_url&amp;dashboard_type=maternal&amp;dashboard_model=maternal_eligibility&amp;dashboard_id=046188fd-59ac-446d-a2eb-d0182445444c&amp;show=appointments&amp;subject_identifier=085-40990011-1&amp;registered_subject=f7028d18-ed44-49c3-9bf5-90c6bda843cd">settings</a>
                       
                    &nbsp;|&nbsp;
                    
                    
                    <a href="/admin/edc_appointment/appointment/?q=085-40990011-1&amp;o=3.1">appointments</a>&nbsp;|&nbsp;
                    
                    
                        &nbsp;|&nbsp;
                    
                    
                
  <br>
      
      
  

                </td></tr>
				
                   

                
    <tr name="top right"><td>
    <h3>Registered Infant</h3>
        
        no infants
    

    </td></tr>
   

                

                  

                


<tr style="background:lightyellow;">
   <td><h4>Contact Info</h4></td></tr>
   <tr style="background:lightyellow;">
   
       <td>
       <a href="/admin/td_maternal/maternallocator/d9b90e1e-ad9d-438d-ab82-5b303572ae69/change/?next=subject_dashboard_url&amp;dashboard_type=maternal&amp;dashboard_model=maternal_eligibility&amp;dashboard_id=046188fd-59ac-446d-a2eb-d0182445444c&amp;show=appointments&amp;registered_subject=f7028d18-ed44-49c3-9bf5-90c6bda843cd&amp;maternal_visit=bb15f1ea-ba03-43eb-85ee-b1be978c2375&amp;visit_attr=maternal_visit">[ Edit ]</a>
       <br><b>May follow-up?</b> Yes       
          
            <br><b>Home visits?</b> Yes
            <br><i>Address:</i><br><pre>BLOCK 3
BEHIND CHOPPIES
THIRD HOUSE ON THE LEFT
ITS BLUE</pre>
            <br><i>Tel:</i> 3928075
            <br><i>Alt. Tel:</i> 3694634
            <br><i>Cell:</i> 71717188
            <br><i>Alt. Cell:</i> 72727890
            <br><b>Call work?</b> No
            
            <br><b>Contact anyone else?</b>Yes           
            
               <br>Name: IWANI BABABABABA
               <br>Relation: FATHER
               <br><i>Address:</i><br><pre>BLOCK 6
BEHIND BLUE BAR</pre>               
               <br><i>Tel:</i> 
               <br><i>Cell:</i> 74908756
                        
            <br><b>Contact next of kin?</b> 
            
            
       
       <br><i><small>Updated on 10/03/2016   
       by </small></i>         
   
   </td></tr>


                

                
                    <tr name="bottom right">
                        <td>
                            <b>Action Items:&nbsp;</b>
                            


   </td></tr><tr><td>
   <a href="/admin/edc_data_manager/actionitem/add/?next=subject_dashboard_url&amp;dashboard_type=maternal&amp;dashboard_model=maternal_eligibility&amp;dashboard_id=046188fd-59ac-446d-a2eb-d0182445444c&amp;show=appointments&amp;registered_subject=f7028d18-ed44-49c3-9bf5-90c6bda843cd">Add</a>
   &nbsp;|&nbsp;<a href="/admin/edc_data_manager/actionitem/?q=f7028d18-ed44-49c3-9bf5-90c6bda843cd">See all</a>
   </td></tr>
   <tr class="row1">
       
   </tr>
                                                
                        
                    
                
                
               
                
                
                
                

               	
	            
	            
                

                
                
                
                <tr name="middle right"><td style="font-size: 10px;line-height: 10px; padding:0;">           
                    <span name="x_results" id="x_results">
                      

    
    <table width="100%">
    <thead>
    <tr><th>Resulted</th>
    </tr></thead>
    <tbody>
    
    <tr><td><table width="100%"><tbody><tr><td></td><td>No results available</td></tr></tbody></table></td></tr>
           
    </tbody>
    </table>





    <div class="note">
    No results available
    </div>




    
 



                    </span>
                </td></tr>
                
                

            </tbody>
</table>