{% extends "ba_namotswe/dashboard.html" %}

{% load staticfiles %}

{% block demographics %}
    {% include "ba_namotswe/demographics.html" %}
{% endblock demographics %}

{% block appointments %}
  	{% include "ba_namotswe/appointments.html" %}
{% endblock appointments %}

{% block crfs %}
	{% if crfs %}
  		{% include "ba_namotswe/crfs.html" %}
  	{% endif %}    
{% endblock crfs %}

{% block requisitions %}
  {% if requisitions %}
  	{% include "ba_namotswe/requisitions.html" %}
  {% endif %}    
{% endblock requisitions %}

{% block locator_information %}
{% endblock locator_information %}
